{% extends 'base.html' %}
{% block content %}
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-5">Welcome to the Electronic Voting System!</h1>
            <p>Are you a member of an NGO and you find it difficult to organize the general assemblys?
            Start using the Electornic Voting System! It is easy to use, supports the most common questions and elections
            that might occur during the general assemblys and it is free.</p>
            <p><a class="btn btn-primary btn-lg" href="/voting/learnmore" role="button">Learn more about the Electronic Voting System &raquo;</a></p>
        </div>
    </div>


{% endblock %}
